<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>大学マップ</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="search-bar">
    <input
        type="text"
        id="searchInput"
        placeholder="建物コードを入力">
</div>
<body>


<div class="container">

       <!-- 左：地図 -->
    <div class="map-area">

        <div class="map-container">

            <img src="{{ url_for('static', filename='50ec53d80f442907.png') }}"
                 id="map"
                 class="map-image">

        </div>

    </div>

    <!-- 右：情報 -->
    <div class="info-panel">

        <h2 id="building-name">
            建物を選択してください
        </h2>

        <img id="building-photo"
             class="building-photo"
             src="{{ url_for('static', filename='50ec53d80f442907.png') }}">

        <p id="building-description">
            建物の説明がここに表示されます
        </p>

    </div>

</div>
<script src="{{ url_for('static', filename='buildingData.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
